<!DOCTYPE html>
<html>
<head>
  <script src="https://kit.fontawesome.com/57462af415.js" crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">

</head>


<body>
  <header>
    <div class="container">
      <div class="logo">
        <img src="../assets/images/uwin_logo.jpg">
      </div>
      <div class = "windsor">
        <h1>Windsor - Billiboard</h1>
      </div>
      
      <div class = "link">
        <nav class="navy">
        
          <ul>
              <a href="https://www.facebook.com/Windsorfirefighters/" target="_blank" class="fa fa-facebook wrapper-two"><b>f</b></a>
              <a href="https://twitter.com/windsorfire1?lang=en" target="_blank" class="fa fa-twitter wrapper-two"><b>t</b></a>
              <a href="#" class="fa fa-google  wrapper-two"><b>G+</b></a>
              <a href="#" class="fa fa-linkedin  wrapper-two"><b>ln</b></a>
          </ul>

        </nav>
      </div>
    </div>
  </header>

<div class="container">
  <div class = "map-content">
    
    
    
      <agm-map 
         [latitude]='lat' 
         [longitude]='long'
         [zoom]='zoom'
         >
          
          <agm-marker 
              *ngFor="let marker of markers" 
              [latitude]="marker.lat" 
                [longitude]="marker.lng">    
                    <agm-info-window #infoWindow>
                        {{ marker.label }}
                  </agm-info-window>
          </agm-marker>
          
      </agm-map>
    
  </div>
  <div class = "menu">
    <nav class = "navy">
      <ul>
        <li><button class="btn-header-one">OVERVIEW</button></li>
        <li><button class="btn-header-one">MOTIVATION</button></li>
        <li><button class="btn-header-one">BUSINESS GOALS</button></li>
        <li><button class="btn-header-one">Create Event</button></li>
      </ul>
    </nav>
  </div>
  </div>

  <section class="paragraphs">
    <div class="container">
      <div class="overview">
        <h2>Overview</h2>
        <p>This project is an interactive map web application that is mainly concerned with the daily<br>
          updates of Windsor-Essex. With the help of this web application, we will be able to know about<br>
          the daily mishappenings in the city displayed on the map. Besides that, we also will implement<br>
          a function to display events that are held in Windsor-Essex. For example, any kind of concert or<br>
          sports events.</p>
      </div>
      <div class="motivation">
        <h2>Motivation</h2>
        <p>The motivation of this project is to acknowledge the people who live in Windsor-Essex about<br>
          incidents that happened in that area. Moreover, it will also encourage the residents of<br>
          Windsor-Essex to make entry of any such events near them on the map.</p>
      </div>
      <div class="businessgoals">
        <h2>Business Goals</h2>
        <p>In any business, creating customers is the biggest priority. After our product gets launched and our<br>
          first potential customers, that is the people of Windsor-Essex, get accustomed to using it and give us<br>
          feedback, our goal is to reach more customers in cities around Windsor by extending our map. Additionally,<br>
          we also want to grab the attention of event managers for using our software to advertise about any ongoing<br>
          event around the city, like a concert or all kinds of sports.</p>
      </div>

    </div>
  </section>

  <section class="last">
  <div class="container">
    <div class="last-content">
      <h2>Stay with us</h2>
      <p>We ensure quailty & support</p>
      

      <div class="form">
    
        <form>
          <input type="text" name="username" placeholder="Full Name" autocomplete="off" class="form-control">
          <input type="email" name="email" placeholder="Email Address" autocomplete="off" class="form-control">
          <textarea type="text" placeholder="Message" class="message"></textarea><br>
          <input type="checkbox" style="zoom:1.5;"class="check">
          <label>Subscribe Newsletter</label>
        </form>

        <button type="button" class="btn-two">Send</button>

      </div>



    </div>
  </div>
</section>

    <footer>
      <div class="container">
        <div class="copyright">
         
          &copy; Copyright 2021 University of Windsor

        </div>
      </div>
      
    </footer>
  </body>
</html>